@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500&family=Spline+Sans&display=swap');

body{
    font-family:'Poppins', sans-serif;
    background: #E5E5E5;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    Width:870px;
    Height:686px;
    background-color: #FFFFFF;
    padding: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
h2{
    font-weight: 500;
    font-size: 24px;
    color:#562EFF;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player h3{
    font-weight: 500;
    font-size: 18px;
    margin-left: 16px;
}